<!-- <h1 translate>{{ homePage.title }}</h1> -->

<div class="home-container">
  <h1 translate>homePage.title</h1>
  <p translate>
    homePage.subTitleOne <a href="#" translate>homePage.subTitleTwo</a>
  </p>
  <p translate>homePage.description</p>

  <div>
    <p translate>homePage.firstDetail</p>
    <ul>
      <li translate>homePage.firstDetailOne</li>
      <li translate>homePage.firstDetailTwo</li>
      <li translate>homePage.firstDetailThree</li>
      <li translate>homePage.firstDetailFour</li>
    </ul>
  </div>

  <div>
    <p translate>homePage.secondDetail</p>
    <ul>
      <li translate>homePage.secondDetailOne</li>
      <li translate>homePage.secondDetailTwo</li>
      <li translate>homePgae.secondDetailThree</li>
      <li translate>homePage.secondDetailFour</li>
    </ul>
  </div>

  <app-progress-button [page]="pageNames.HOME">Next</app-progress-button>

  <div>
    <p translate>homePage.note</p>
    <ul>
      <li translate>homePage.noteOne</li>
      <li translate>homePage.noteTwo</li>
    </ul>
  </div>
</div>
