<ul class="nav justify-content-between">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="">Ontario Logo</a>
  </li>
  <li class="nav-item">
    <div class="dropdown">
      <button
        type="button"
        class="btn dropdown-toggle"
        data-bs-toggle="dropdown"
      >
        Current User
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" routerLink="/">Edit Account</a></li>
        <li>
          <a class="dropdown-item" routerLink="/paginator">Manage Users</a>
        </li>
        <li><a class="dropdown-item" routerLink="/">Sign Out</a></li>
      </ul>
    </div>
    <!-- <select>
      <option value="edit">Edit Account</option>
      <option value="manage">
        <a routerLink="/home-page">Manage Users</a>
      </option>
      <option value="signout">Sign Out</option>
    </select> -->
  </li>

  <!-- <a routerLink="/paginator">Manage Users</a> -->
</ul>
