<ul class="nav justify-content-between">
  <li class="nav-item">
    <p>Police Portal</p>
  </li>
  <li class="nav-item">
    <div class="dropdown">
      <button type="button" routerLink="/">Home</button>
      <button
        type="button"
        class="btn dropdown-toggle"
        data-bs-toggle="dropdown"
      >
        New Intake Form
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" routerLink="/inquiry">Inquiry Form</a></li>
        <li>
          <a class="dropdown-item" routerLink="/inquiry">Search Warrant</a>
        </li>
      </ul>
    </div>
  </li>
  <!-- {{
    title | translate
  }} -->
</ul>
